assets/img/doctors/
assets/img/patients/
.htaccess
php/config.php
error_log
php/error_log



# Composer dependencies
vendor/
# Generated Prescriptions and Logs
assets/prescriptions/*.pdf
assets/prescriptions/*.log
# Temporary and Security-sensitive files
info.php
*.htaccessbaclup
*.bak


# Environment variables
.env
.env.*